<div>
  <app-nft-header></app-nft-header>

  <div class="grid grid-cols-1 gap-4 pt-4 pb-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">

    <div nft-single-card [nft]="nft[1]"></div>
    <div nft-single-card [nft]="nft[0]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>
    <div nft-single-card [nft]="nft[2]"></div>

  </div>



</div>
